<div id="header">You are {{action}}. You won {{wins}} games. It's {{turn}}'s turn. {{people}} people are in the room.</div>
<div id="ttt_map">
   <div class="row">
      <div ng-click="play(0,0);">{{map[0][0]}}</div><div class="middle" ng-click="play(0,1);">{{map[0][1]}}</div><div ng-click="play(0,2);">{{map[0][2]}}</div>
   </div>
   <div class="row middle">
      <div ng-click="play(1,0);">{{map[1][0]}}</div><div class="middle" ng-click="play(1,1);">{{map[1][1]}}</div><div ng-click="play(1,2);">{{map[1][2]}}</div>
   </div>
   <div class="row">
      <div ng-click="play(2,0);">{{map[2][0]}}</div><div class="middle" ng-click="play(2,1);">{{map[2][1]}}</div><div ng-click="play(2,2);">{{map[2][2]}}</div>
   </div>
</div>

<div id="footer">
   <a href="https://github.com/arthursantana/ttto">source code</a>
</div>
